/* HamburgerMenu.css */

/* Positionnement fixe du bouton hamburger */
.hamburger-menu {
  position: fixed;
  top: 20px;    /* Espacement du haut */
  right: 20px;  /* Espacement de la droite */
  z-index: 1000;  /* S'assurer qu'il reste visible au-dessus de tout */
  display: none;  /* Cacher le menu hamburger par défaut */
}

/* Bouton hamburger */
.hamburger-button {
  font-size: 30px;
  background: none;
  border: none;
  cursor: pointer;
  color: #4CAF50;
  transition: color 0.3s ease;
}

.hamburger-button:hover {
  color: #7b8e38;  /* Couleur au survol */
}

/* Le menu, qui est caché au départ */
.menu {
  position: absolute;
  top: 50px;     /* Menu juste en dessous du bouton */
  right: 0;
  background-color: #89af4c;
  padding: 15px;
  border-radius: 10px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

/* Quand le bouton est cliqué ou survolé, on affiche le menu */
.hamburger-button:hover + .menu,
.menu:hover {
  opacity: 1;
  visibility: visible;
}

.menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.menu ul li {
  margin: 5px 0;
}

.menu ul li a {
  color: white;
  text-decoration: none;
  font-size: 16px;
}

.menu ul li a:hover {
  color: #33adff;
}

/* Mobile - ajustement pour petits écrans */
@media (max-width: 768px) {
  .hamburger-menu {
    display: block; /* Affiche le menu hamburger sur petits écrans */
  }

  .menu {
    top: 40px;
    right: 0;
    padding: 20px;
  }

  .menu ul li a {
    font-size: 14px;
  }
}

/* Tablette - ajustement pour écrans moyens */
@media (max-width: 1024px) {
  .hamburger-menu {
    top: 15px;
    right: 15px;
  }

  .menu {
    top: 45px;
  }
}

/* Bureau - Réglage pour écrans larges (supérieurs à 768px) */
@media (min-width: 769px) {
  .hamburger-menu {
    display: none; /* Cache le menu hamburger sur les grands écrans */
  }
}
