/* Conteneur principal */
.home-container {
  text-align: center;
  padding: 20px;
}

/* Conteneur du logo */
.logo-container {
  margin-bottom: 20px;
}

/* Taille et ajustement du logo pour différents écrans */
.logo {
  width: 80px; /* Taille par défaut pour les petits écrans */
  height: auto; /* Maintient le ratio d'aspect */
  object-fit: contain; /* S'adapte sans déformation */
}

/* Ajustement de la taille du logo pour les tablettes */
@media (min-width: 600px) {
  .logo {
    width: 120px;
  }
}

/* Ajustement de la taille du logo pour les écrans de bureau */
@media (min-width: 992px) {
  .logo {
    width: 150px;
  }
}

/* Message de bienvenue */
.welcome-message {
  margin-top: 20px;
}

/* Styles pour les boutons d'authentification */
.auth-buttons {
  margin-top: 20px;
}

.auth-buttons button {
  margin: 10px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #4CAF50; /* Couleur de fond du bouton */
  color: white;
  transition: background-color 0.3s ease; /* Transition pour l'effet de survol */
}

.auth-buttons button:hover {
  background-color: #007BFF; /* Couleur au survol */
}
